{
  "extends": "../../tsconfig.base.json",
  "compilerOptions": {
    "outDir": "../../ext/{{folder}}",
    "baseUrl": "."{{#if hasSharedPath}},
    "paths": {
      "@shared/*": ["../shared/*"]
    }{{/if}}
  },
  "include": ["./**/*", "./types.d.ts"]
}

